<div id="pubdoc-page" v-cloak>
  <div class="container">
    <div class="row border border-top-0 border-right-0 border-left-0 mt-3">
      <div class="col">
        <span class="h4">
          {{ wiki.subject }}</span>
      </div>
    </div>
    <div class="row mt-1">
      <div class="col text-right">
        <small>
          <lycaon-timestamp :at="wiki.createdAt" format="timeago" :translator="translator" short="true"></lycaon-timestamp>
        </small>
      </div>
    </div>
    <div class="row mt-2" v-if="wiki.tags.length > 0">
      <div class="col-auto">
        <small class="text-muted">
          <%= __("Tags") %>
        </small>
      </div>
      <div class="col">
        <span class="badge badge-success mr-1" v-for="(item, index) in wiki.tags">
          {{ item.name }}</span>
      </div>
    </div>

    <div class="text-right" v-show="!showToc"><span class="d-none d-md-block"><a href="javascript:void(0)" @click="buildToc">
          <%= __("Table of contents") %>
        </a></span></div>

    <div class="row mt-3 mb-3 p-3 shadow rounded">
      <div class="col text-break">
        <div id="viewer"></div>
      </div>
      <div class="col-auto">
        <div class="wiki-toc-container d-none d-md-block" v-if="showToc">
          <div class="row">
            <div class="col">
              <button type="button" class="toc-close" @click="showToc = false">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="wiki-toc">
                <ul id="wiki-toc"></ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
