<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
  <p style="margin-bottom: 25px;">
    <%= __('Hello {0}').format(fullName) %>
  </p>
  <p style="margin-bottom: 25px;">
    <%= __('I changed the password for your account') %>
      <%= __("If you don't remember this operation, please contact the administrator immediately") %>
        <%= __('If you have made any changes, please ignore this email') %>
  </p>
  <p style="margin-bottom: 5px;">Sincerely,</p>
  <p style="margin-top: 0px;">Team Lycaon</p>
