<div class="row ml-5 mt-3" v-if="isLocal(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="far fa-eye-slash"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="localTranslator"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isUpdateConcept(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-globe"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="conceptTranslator" :trans-option="item"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isUpdateStatus(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline" :class="activityCloseCss(item)">
      <i class="fas fa-exclamation-circle" v-if="isActivityOpen(item)"></i>
      <i class="fas fa-check-circle" v-else></i>
    </button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="statusTranslator" :trans-option="item"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isUpdateDuedate(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="far fa-calendar-check"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="duedateTranslator" :trans-option="item"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isUpdatePriority(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-weight"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="priorityTranslator" :trans-option="item"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isUpdateLock(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-lock"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="lockTranslator" :trans-option="item"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isUpdateWorking(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-code-branch"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="workingTranslator" :trans-option="item"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isUpdateCategory(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-tasks"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="categoryTranslator" :trans-option="item"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isResponsible(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-user"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="responsibleTranslator" :trans-option="item"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isUpdateThread(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="far fa-edit"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="updateTranslator"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isAttachFile(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-folder-plus"></i></button><small class="ml-2 text-break">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="attachTranslator" :trans-option="item"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isDeleteFile(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-folder-minus"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="detachTranslator" :trans-option="item"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isCreateReply(item.type) && viewActivity == 2">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-reply"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="createReplyTranslator"></lycaon-timestamp> [
      <span v-if="viewActivity === 0">
        <a href="javascript:void(0)" @click="jumpToReply(item.reply)">comment-
          {{ item.sneeze.serialNumber }} /
          rep-
          {{ item.reply.serialNumber }}</a>
      </span>
      <span v-else>
        comment-
        {{ item.sneeze.serialNumber }} /
        rep-
        {{ item.reply.serialNumber }}
      </span>
      ]
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isUpdateReply(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-reply"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="updateReplyTranslator"></lycaon-timestamp> [
      <span v-if="viewActivity === 0">
        <a href="javascript:void(0)" @click="jumpToReply(item.reply)">comment-
          {{ item.sneeze.serialNumber }} /
          rep-
          {{ item.reply.serialNumber }}</a>
      </span>
      <span v-else>
        comment-
        {{ item.sneeze.serialNumber }} /
        rep-
        {{ item.reply.serialNumber }}
      </span>
      ]
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isCreateSneeze(item.type) && viewActivity == 2">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-comment"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="createSneezTranslator"></lycaon-timestamp> [
      <span v-if="viewActivity === 0">
        <a href="javascript:void(0)" @click="jumpToSneeze(item.sneeze)">comment-
          {{ item.sneeze.serialNumber }}</a>
      </span>
      <span v-else>
        comment-
        {{ item.sneeze.serialNumber }}
      </span>
      ]
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isUpdateSneeze(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-comment"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="updateSneezTranslator"></lycaon-timestamp> [
      <span v-if="viewActivity === 0">
        <a href="javascript:void(0)" @click="jumpToSneeze(item.sneeze)">comment-
          {{ item.sneeze.serialNumber }}</a>
      </span>
      <span v-else>
        comment-
        {{ item.sneeze.serialNumber }}
      </span>
      ]
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isMilestone(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-calendar-alt"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="milestoneTranslator"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isRelationship(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-link"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="relationshipTranslator" :trans-option="item"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isDeleteRelationship(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-unlink"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="deleteRelationshipTranslator" :trans-option="item"></lycaon-timestamp>
    </small>
  </div>
</div>
<div class="row ml-5 mt-3" v-if="isFork(item.type)">
  <div class="col">
    <button type="button" class="btn btn-light btn-circle-timeline">
      <i class="fas fa-code-branch"></i></button><small class="ml-2">
      <user-identity class="mr-1" :user="item.user" :organization="organization" size="sm"></user-identity> - <lycaon-timestamp :at="item.createdAt" format="timeago" :translator="forkTranslator" :trans-option="item"></lycaon-timestamp>
    </small>
  </div>
</div>
